/* SongsList */

.songsList {
  margin: 1rem 0rem;
  padding: 0rem 2rem;
}

.songs {
  margin: 1rem 0rem;
}

.song {
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  margin-top: 4px;
}

.song > li {
  background-color: var(--background-base);
  border-radius: 4px;
}

.song > li:hover {
  background-color: var(--background-base-2);
}

.song:not(:last-of-type) > li {
  border-bottom: none;
}

.songActionIcon {
  color: var(--text-color);
}

/* Create Song */
.createSongWrapper {
  margin: 1rem;
  padding: 1rem;
}

.createSongWrapper > h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.createSongWrapper .formField {
  width: 70%;
  max-width: 600px;
  margin-bottom: 1rem;
}

/* Song Details */
.songDetail {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--background-base);
  border-radius: 8px;
}