:root {
  --theme-color: #000;
  --background-base: #121212;
  --background-base-2: #1c1c1c;
  --background-base-3: #262626;
  --text-color: #fff;
  --text-color-2: #dddddd;
  --border-color: #ffffffE6;
  --light-border-color: #9b9b9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: var(--theme-color);
  color: var(--text-color);
}

.error-alert {
  margin-bottom: 1rem;
}