/* LyricsList */
.lyricsList {
    margin: 1rem 0;
}


/* Lyric Item */
.lyricItem {
    background-color: var(--background-base-2);
    border-radius: 4px;
    margin-bottom: .25rem;
    padding-right: 6rem;
}

.lyricItem:hover {
    background-color: var(--background-base-3);
}

.lyricsList .lyricItem:not(:last-of-type) {
    border-bottom: none;
}

/* Lyric Create */
.lyricCreateForm {
    margin: 1rem 0rem;   
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.lyricCreateForm > div {
    width: 100%;
    margin-bottom: 1rem;
}

.lyricCreateForm > button {
    margin-left: auto;
}

/* Complete Lyric Detail */
.completeLyric {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--background-base);
    border-radius: 8px;
}

.songHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userLink {
    font-size: 12px;
    color: var(--text-color-2);
    text-decoration: none;
}

.userLink:hover {
    text-decoration: underline;
}

.lyricContent {
    margin: 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lyricContent > p {
    font-size: 14px;
    font-style: italic;
}

.lyricContent > .userLink {
    margin-top: .5rem;
}